# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared libraries
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
btc
RPN
PmergeMe

# OS files
.DS_Store
Thumbs.db
Desktop.ini

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
